<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype) %>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype), class: :card__title %>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <% if current_user == prototype.user_id%>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <div class="prototype__manage">
          <li>
            <%= link_to "編集", edit_prototype_path(prototype), method: :get, class: :prototype__btn %>
            <%# , edit_protoype_path(protoype.id), method: :get %>
          </li>
          <li>
            <%= link_to "削除", prototype_path(prototype),method: :delete , class: :prototype__btn %>
            <%# protoype_path(protoype.id),method: :delete, %>
          </li>
        </div>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
    <%end%>
    <%= link_to "by #{prototype.user.name}", user_path(prototype.user), class: :card__user %>
  </div>
</div>